{% extends 'base.html.twig' %}

{% block pageTitle %}login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {% if error %}

        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>

    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <p>

            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <p>

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        <p>

            <button type="submit">login</button>
    </form>

{% endblock %}













{#
{% extends '../base.html.twig' %}
{% block body %}
    <h1>Login</h1>
    {% if app.session.flashBag.has('error') %}
        <div class="flash-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Login" />
    {{ form_end(form) }}
    <li>
        <a href="{{ path('login') }}">Admin Index, Only here to test if can lookat admin without Authentication Delete</a>
    </li>
{% endblock %}


#}



